
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6eefc00; 
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(248, 246, 246, 0.1);
  position: relative;
  height: 60px;
}

.logo h1 {
  margin-left:40px;
  font-size: 30px;
  color: #d2b48c; 
}


.navigation {
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 45px;
  margin: 0;
  padding: 0;
  margin-top: 30px !important;
  margin-bottom: 10px;
  margin-right: 40px;
} 

.navigation li {
  font-size: 17px;
  white-space: nowrap;
}

.navigation a,
.book-appointment-btn {
  text-decoration: none;
  color: #d2b48c; 
  font-weight: bold;
  width: 200px !important;
  transition: color 0.3s ease;
}

.navigation a:hover,
.book-appointment-btn:hover {
  color: #d8b18a; 
}

.book-appointment-btn {
  background-color: #d2b48c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 10px;
  width:200px !important;
  height:40px !important;
  border: none;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: -10px !important;
}


.restricted-btn{
  width:200px !important;
  margin-bottom: 15px;
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #d2b48c;
  cursor: pointer;
}


@media (max-width: 768px) {
  .navigation ul {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 70px; 
    right: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }

  .navigation ul.active {
    display: flex; 
  }

  .menu-button {
    display: block;
    background: none;
    margin-bottom: 5px;
    margin-right: 30px;
    border: none;
    font-size: 24px; 
    color: #d2b48c; 
    cursor: pointer;
    transition: none; 
}


.menu-button:hover {
  color: #d2b48c; 
  background: none; 
} 
  

.book-appointment-btn {
    width: 100%; 
    text-align: center;
}
}

  